.section1 {
  position: relative;
}
.bg_img_box1 {
  display: none;
  height: 100vh;
  background: url("imgs/food.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.bg_img_box2 {
  display: none;
  height: 100vh;
  background: url("imgs/cake.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.bg_img_box3 {
  display: none;
  height: 100vh;
  background: url("imgs/tea.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.content_box {
  position: relative;
  height: 100vh;
}
.content_text {
  position: absolute;
  top: 20%;
  left: 50px;
}
.content_main_text1 {
  width: 440px;
  max-width: 440px;
}

.content_main_text1 > img {
  max-width: 100%;
  height: auto;
}
